extends ../layout.pug

block nav
  .brand
    img(src="assets/images/logo-white.png")
    .text.white SpendenLike e.V.

  ul
    li
      a(href="blog.html") Unser Blog
    li
      a(href="mitglied.html") Mitglied werden
    li
      a(href="spenden.html") Spenden
    li
      a(href="#hackaburg-2017") FB / Insta

block content
  section.accent.block
    .container
      .intro
        .title
          h1 SpendenLike

        .subtitle
          h3 Wir geben sozialen Projekten eine Bühne.
        
        a.inverted.button(href="mailto:partner@hackaburg.de") Spenden
        a.regular.button(href="mailto:partner@hackaburg.de") Mitglied werden

  a.upwards.right.white.triangle(name="about")
    .hand.image.container
      img(src="assets/images/header.png")

  section.white.block
    .info
      .container
        .section.heading
          .subtitle 
            h2 Wer sind wir ?
      .container
        .centered.text.condensed.grid
          .row
            .right.aligned.text.col-33
              .level2.partner
                a(href="", target="_blank")
                  img(src="assets/images/idea.png")
                  h3 Unsere Idee
            .col-33
              .level2.partner
                a(href="", target="_blank")
                  img(src="assets/images/speak.png")
                  h3 Influencer als Sprachrohr
            .left.aligned.text.col-33
              .level2.partner
                a(href="", target="_blank")
                  img(src="assets/images/map.png")
                  h3 Vor Deiner Haustür

  a.downwards.right.white.triangle(name="wersindwir")

  section.accent.block
    .tracks
      .container
        .inverted.section.heading
          .title.center
            h2 Das Sprachrohr

          .subtitle.center
            h3 Erster Influencer
            
        .grid    
          .row
            .col-33
              img.influencer(src="assets/images/julian.png")
              p.influencer Julian Franklin

            .col-67.quote
              p "Hi, ich bin Julian! sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr."

  a.downwards.right.accent.triangle(name="wersindwir2")
  
  
  a.downwards.right.white.triangle(name="team")
                

  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN9OfnCw7Q1XPaQ_hNRg7ccNPHO43_6qU&sensor=true")
