extends ../layout.pug

block nav
  .brand
    a(href="#") 
      img(src="assets/images/logo-white.png")
    .text.white SpendenLike e.V.

  ul
    li
      a(href="#idee") Idee
    li
      a(href="#sprachrohr") Sprachrohr
    li
      a(href="#unterstützer") Unterstützer
    li
      a(href="#menschen") Menschen

block content
  section.accent.block
    .container
      .intro
        .title
          h1 SpendenLike

        .subtitle
          h3 Wir geben sozialen Projekten eine Bühne.
        
        a.inverted.button(href="https://www.instagram.com/SpendenLike/" target="_blank") Instagram
        a.regular.button(href="https://www.facebook.com/SpendenLike/" target="_blank") Facebook

  a.upwards.right.white.triangle(name="idee")
    .hand.image.container
      img(src="assets/images/header.png")

  section.white.block
    .tracks
      .container
        .inverted.section.heading
          .title.center
            h2 Wer sind wir?

          .subtitle.center.redSub
            h3 Die Idee von SpendenLike

          p.tldr.center ... ist es, durch den Zusammenschluss von Influencern, Organisationsgenies und Filmemachern soziale Projekte über das Internet zu fördern, um gemeinsam Verantwortung zu übernehmen.
                  
  a.downwards.right.white.triangle(name="sprachrohr")

  section.accent.block
    .tracks
      .container
        .inverted.section.heading
          .title.center
            h2 Das Sprachrohr

          .subtitle.center
            h3 Erster Influencer
            
        .grid    
          .row
            .col-33
              img.influencer(src="assets/images/julian.png")
              p.influencer Julian Franklin
              p.center * seit 2018 Mitglied im Verein

            .col-66.quote
              p „ Hi, ich bin Julian. Ich komme aus München, studiere derzeit BWL und liebe es Videos für YouTube zu drehen. In meinen Videos geht es um meinen Alltag als Student, um Gesundheit und Ernährung, aber auch um soziales Engagement. Monatlich mach ich ein Challenge Video auf meinen Kanal, das zum einen meine Zuschauer unterhalten und zum anderen Geld für soziale Projekte sammeln soll. Für mich ist es schon fast eine Pflicht, mit den Videos etwas zurückzugeben. Im Dezember habe ich 24h auf der Straße gelebt, um zu erfahren, wie es ist obdachlos zu sein. Ich konnte mit dem Video meinen Zuschauern einen Einblick verschaffen und noch dazu über 700 Euro an Spendengelder an Obdachlose in München in Form von Essen, Trinken und Kleidung geben. “

  a.downwards.right.white.triangle(name="unterstützer")

  section.white.block
    .tracks
      .container
        .inverted.section.heading
          .title.center
            h2 Unsere Spender

          .subtitle.center.redSub
            h3 Erste Unterstützer
            
        .grid    
          .row
            .col-33.centered.child
            .col-33.centered.child
              a(href='https://www.ifixholl.de/' target="_blank")
                img(src="assets/images/sponsoren/ifix-holl.png")
            .col-33.centered.child

  a.downwards.right.white.triangle(name="menschen")

  section.accent.block.end
    .tracks
      .container
        .inverted.section.heading
          .title.center
            h2 Die Menschen

          .subtitle.center
            h3 Die Leute hinter der Idee
    .wall
      .line
        .brick
          img(src="assets/images/wall/img_4.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_2.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_3.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_1.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_5.jpg" width="100%")
      .line
        .brick
          img(src="assets/images/wall/img_6.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_7.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_8.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_9.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_10.jpg" width="100%")
      .line
        .brick
          img(src="assets/images/wall/img_11.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_12.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_17.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_15.jpg" width="100%")
        .brick
          img(src="assets/images/wall/img_16.jpg" width="100%")

  a.upwards.right.white.triangle(name="wersindwir2")

          

  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN9OfnCw7Q1XPaQ_hNRg7ccNPHO43_6qU&sensor=true")
