.wall:after {
  content: "";
  clear: both;
  display: table;
}

.brick {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: @color-accent;
  float: left;
  width: 20%;
  margin-bottom: -3px;
}
